<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!-- -->

  <!-- Configuracion de conexion a base de datos -->
  <connectionStrings>
    <!-- Conexion de prueba, despues eliminar-->
    <add name="ITELConnectionString" connectionString="Data Source=CLAU-NOTEBOOK\MYSQLSERVER;Initial Catalog=ITEL;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <!-- Conexion que usa la página -->
    <add name="conexion_fsa" connectionString="Data Source=CLAU-NOTEBOOK\MYSQLSERVER;Initial Catalog=JRML;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>

    <!-- Modo de autenticacion -->
    <authentication mode="Forms">
      <forms name="appNameAuth" path="/" loginUrl="Login.aspx" defaultUrl="home.aspx" protection="All" />
    </authentication>
    
    
    <!--Deniego a los usuarios no logueados a todas las paginas-->
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>

  <!--Permito solo el acceso a la pagina principal Ser Activo-->
  <location path="SerActivo.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>


  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>

</configuration>
